@inherits LayoutComponentBase
@inject NavigationManager Nav

<div id="wrapper" class="wrapper sidebar-fixed topnav-fixed dashboard">
    <div class="top-bar navbar-fixed-top">
        <div class="container-fluid">
            <div class="clearfix">
                <a href="#" class="pull-left toggle-sidebar-collapse" @onclick="ToggleNav" @onclick:preventDefault="true"><i class="fa fa-bars"></i></a>
                <div class="pull-left left logo">
                    <a href="#"><span class="king-logo-text">HIP Admin</span></a>
                </div>
                <div class="pull-right right">
                    <div class="top-bar-right">
                        <div class="logged-user">
                            <div class="btn-group">
                                <a href="#" class="btn btn-link dropdown-toggle" @onclick:preventDefault="true">
                                    <span class="name">Eric</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="left-sidebar" class="left-sidebar @(_navCollapsed ? "minified" : "")">
        <div class="sidebar-scroll">
            <nav class="main-nav">
                <NavMenu Collapsed="@_navCollapsed" />
            </nav>
        </div>
    </div>

    <div id="main-content-wrapper" class="content-wrapper @(_navCollapsed ? "expanded" : "")">
        <div class="row">
            <div class="col-md-4">
                <ul class="breadcrumb">
                    @foreach (var (crumb, index) in GetBreadcrumbs().Select((c, i) => (c, i)))
                    {
                        if (index == 0)
                        {
                            <li><i class="fa fa-home"></i><a href="#">@crumb</a></li>
                        }
                        else if (index == GetBreadcrumbs().Count() - 1)
                        {
                            <li class="active">@crumb</li>
                        }
                        else
                        {
                            <li><a href="#">@crumb</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>

@code {
    private bool _navCollapsed;

    private void ToggleNav() => _navCollapsed = !_navCollapsed;

    private IEnumerable<string> GetBreadcrumbs()
    {
        var path = Nav.ToBaseRelativePath(Nav.Uri);
        if (string.IsNullOrWhiteSpace(path)) return new[] { "Home", "Dashboard" };

        return new[] { "Home" }.Concat(path.Split('/', StringSplitOptions.RemoveEmptyEntries)
            .Select(p => char.ToUpperInvariant(p[0]) + p[1..]));
    }
}
